[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/
[Mm]emoryCaptures/
.vs/
.idea/
.DS_Store
*.csproj.user
*.sln
*.suo
*.pidb
*.unityproj
*.userprefs
*.booproj
*.pdb
*.mdb
*.log
tests/bin/
tools/CSharpSyntax/bin/
tests/obj/
TestResults/
artifacts/
